body {
  margin: 0;
}

.main-container {
  display: grid;
  max-width: 25rem;
  width: 100%;
  margin: auto;
  place-items: center;
}

.title {
  font-size: larger;
  margin: 2rem 0 1rem 0;
}

.list-item {
  width: 100%;
  border-radius: 1rem;
  border: black 1px solid;
  padding: 1rem;
  margin: 1rem 0;
  text-decoration: none;
  color: black;
  text-align: center;
}

.question {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  column-gap: 2rem;
}
.link {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0.3rem;
}